html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.ymaps-2-1-79-copyrights-pane {
  top: 45px !important;
  left: 10px !important;
  bottom: auto !important;
}

#map {
    flex: 1 1 auto;
    width: 100%;
}

.place-item {
    padding: 8px;
    margin: 5px 0;
    background: white;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.2s;
}

.place-item:hover {
    background: #e9ecef;
}

.place-icon {
    width: 20px;
    height: 20px;
}

.popup-img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    margin-top: 5px;
}

#infoFrame {
    display: none;
}

.offcanvas-bottom {
    /* max-height: 90vh !important; */
    height: 90vh !important;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow-y: auto;
    touch-action: none;
    will-change: transform;
    transition: transform 0.3s ease;
}

#dragHandle {
    width: 40px;
    height: 5px;
    background: #ccc;
    border-radius: 3px;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    cursor: grab;
}

.btn__container{
    display: flex;
    justify-content: space-evenly;
}